<section class="hero">
	<div class="hero-body">
		<div class="container">
			<h2 class="title">
				The <strong class="acro">AIMe</strong>
				registry for
				<strong class="acro">a</strong>rtificial
				<strong class="acro">i</strong>ntelligence in
				bio<strong class="acro">me</strong>dical research
			</h2>
		</div>
	</div>
</section>

<section class="section">
  <div class="container">
    <div class="content vision">
      In the past years, AI led to tremendous advances in the field of biomedical research and new approaches are
      suggested almost every day.
			However, varying evaluation schemes are employed and usually only selected aspects of the data analysis results
			are reported.
			This is detrimental for comparability and reproducibility of different AI models as well as for the development
			of novel, better AI methods.
			Hence, we have developed the AIMe registry, a community-driven platform for reporting biomedical AI systems.
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title is-4">
      Why use AIMe?
    </h1>
    <div class="content">
      <ul>
        <li>Check if you have covered all important aspects of your AI.</li>
        <li>Save time when providing basic information about your AI.</li>
        <li>Save space by referencing AI reports in your paper.</li>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title is-4">
      How it works
    </h1>
    <div class="content">
      <ol>
        <li>Fill in the questionnaire to provide information about your AI in a structured way.</li>
        <li>Decide if the report should be publicly visible in the AIMe database.</li>
        <li>A report file will be created that you can reference via the URL <code>aime.report/[report-id]</code>.</li>
        <li>You receive an admin link which you can use to later add revisions to the report (version history is available).</li>
        <li>Other users can raise issues or ask for clarification about a report if questions arise.</li>
      </ol>
    </div>
    <div class="content has-text-centered">
      <a routerLink="/questionnaire" class="button is-medium is-success is-rounded">
        <span class="icon">
          <i class="fa fa-plus-circle"></i>
        </span>
        <span>Create report</span>
      </a>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title is-4">
      AIMe Database
    </h1>
    <div class="content">
      You can search the AIMe database to look for AI reports that might interest you.
      Save time and spot the relevant information faster than by browsing papers for it.
    </div>
    <div class="content has-text-centered">
      <a routerLink="/database" class="button is-medium is-info is-rounded">
        <span class="icon">
          <i class="fa fa-search"></i>
        </span>
        <span>Search database</span>
      </a>
    </div>
  </div>
</section>

<!--<section class="section">-->
<!--	<div class="container">-->
<!--		<figure class="image" style="max-width: 800px">-->
<!--			<img src="assets/comic.png" alt="Illustration of the purpose of AIMe" />-->
<!--		</figure>-->
<!--	</div>-->
<!--</section>-->
