<section class="section">
	<div class="container">
		<h2 class="title is-4">
			Legal notice
		</h2>
		<div class="content">
			<p>
				Prof. Dr. Jan Baumbach<br>
				Chair of Experimental Bioinformatics
			</p>
			<p>
				<i class="fal fa-phone"></i> +49 8161 71 2136<br>
				<i class="fal fa-fax"></i> +49 8161 71 2186<br>
				<i class="fal fa-envelope"></i> exbio@wzw.tum.de
			</p>
			<p>
				TUM School of Life Sciences Weihenstephan<br>
				Technical University of Munich<br>
				Maximus-von-Imhof-Forum 3<br>
				85354 Freising<br>
				Germany
			</p>
			<p>
				For inquiries, please refer to <a href="mailto:info@aime-registry.org">info@aime-registry.org</a>.
			</p>
		</div>
	</div>
</section>
